body{
  background-color: lightgrey;
  margin: 0;
  padding: 0px;
  margin:auto;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: purple;
  font-size: 18px;            /* Dimensione consigliata tra 16px e 20px */
  line-height: 1.5;           /* Interlinea ampia */
  letter-spacing: 0.12em;     /* Spazio tra lettere */
  word-spacing: 0.16em;       /* Spazio tra parole */
  text-align: left;           /* MAI giustificato */
  margin-bottom: 2em;         /* Spazio tra paragrafi */
  max-width: 600px;            /* Righe non troppo lunghe (max 70 caratteri) */
}

header, section, footer {
  background-color:antiquewhite;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
}